Sports-Type-Classifier/Sports-Type-Classifier/
Sports-Type-Classifier/.idea/
Sports-Type-Classifier/.ipynb_checkpoints/
.idea/
Sports-Type-Classifier/example_clips/
Sports-Type-Classifier/model/
Sports-Type-Classifier/output/
Sports-Type-Classifier/plot.png
Sports-Type-Classifier/video.mp4
Sports-Type-Classifier/video2.mp4
Sports-Type-Classifier/video3.mp4
